[Desktop Entry]
Encoding=UTF-8
Name=Tune
Comment=Tune P2P Cryptocurrency
Exec=tune-qt %u
Terminal=false
Type=Application
Icon=tune128
MimeType=x-scheme-handler/tune;
Categories=Office;Finance;
Name[en_US]=tune-qt.desktop
